= turbo_frame_tag "modal" do
  %div{"data-controller"=>"modal"}
    %h1.modal-header
      = t(:delete_user_header)

    %div.modal-body
      %p=t(:delete_user_message)

    %br

    .modal-footer.justify-content-between
      %p= "#{t(:unhappy)} #{button_to t(:cancel_account_confirm), @user, method: :delete, class: 'btn btn-danger'}"
      %button.btn.btn-secondary{:type=>"button", "data-bs-dismiss"=>"modal" } X

