<div id="<%= dom_id task %>">
    <p class="card-title">
      <strong>Title:</strong>
      <%= task.title %>
    </p>

    <p class="card-text">
      <strong>Body:</strong>
      <%= task.body %>
    </p>

    <p class="card-text">
      <strong>Scheduled:</strong>
      <%= task.scheduled %>
    </p>

    <p class="card-text">
      <strong>Completed:</strong>
      <%= task.completed %>
    </p>
</div>
