<div id="<%= dom_id task %>">
    <p class="card-title">
      <strong><%= task.title %></strong>
    </p>

    <p class="card-text">
      <%= task.body %>
    </p>

    <p class="card-text">
      <strong> <%= t(:'.is_task_scheduled') %> </strong>
      <% if task.scheduled %>
        <%= t(:true) %>
      <% else %>
        <%= t(:false) %>
      <% end %>
    </p>

    <p class="card-text">
      <strong> <%= t(:'.is_task_completed') %> </strong>
      <% if task.completed %>
        <%= t(:true) %>
      <% else %>
        <%= t(:false) %>
      <% end %>
    </p>
</div>
