<div id="<%= dom_id task %>">
    <p class="card-title">
      <strong><%= task.title %></strong>
    </p>

    <p class="card-text">
      <%= task.body %>
    </p>

    <p class="card-text">
      <strong> <%= t(:'.is_task_scheduled') %> </strong>
      <%= task.scheduled %>
    </p>

    <p class="card-text">
      <strong> <%= t(:'.is_task_completed') %> </strong>
      <%= task.completed %>
    </p>
</div>
