%p= "#{t(:hello)} #{@resource.username}"

%p= t(:password_change_requested)

%p= link_to t(:password_change), edit_password_url(@resource, reset_password_token: @token)

%p= t(:password_change_ignore)
%p= t(:password_change_link_required)
