<div id="navBar" class="sidebar d-flex flex-column flex-shrink-0 pt-2"  data-controller="side-menu" >
    <div>
        <button class="openbtn" data-action="side-menu#sideMenuToggle">☰</button>
    </div>

    <%= link_to root_path, class: "btn btn-default pt-3" do %>
        <i class="bi bi-house-fill"></i><span id="homePageText"><%= t(:homePageText) %></span>
    <% end %>

    <%= link_to homeOS_path, class: "btn btn-default" do %>
        <i class="bi bi-house-gear-fill"></i><span id="homeOSPageText"><%= t(:homeOSPageText) %></span> 
    <% end %>

    <%= link_to tasks_path, class: "btn btn-default" do %>
        <i class="bi bi-calendar-check"></i><span id="tasksPageText"><%= t(:tasksPageText) %></span>
    <% end %>
</div>