<!DOCTYPE html>
<html>
  <head>
    <title>FluptuHome</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css"/>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>

    <div class="modal"
         tabindex="-1"
         data-controller="modal"
         data-modal-target="modal"
         data-action="turbo:frame-load->modal#open turbo:submit-end->modal#close">
      <div class="modal-dialog">
        <div class="modal-content">
          <%= turbo_frame_tag "modal" %>
        </div>
      </div>
    </div>

    <%= render 'layouts/sidebar' %>

    <div class="flash">
      <%= render 'shared/flash' %>
    </div>

    <main class="d-flex flex-nowrap">
      <div class="container">

        <header class="d-flex rounded-4 mb-2">
          <%= render 'layouts/header' %>
        </header>

        <%= yield %>

      </div>
    </main>
  </body>
</html>
