<!DOCTYPE html>
<html>
  <head>
    <title>FluptuHome</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <main class="d-flex flex-nowrap">
      
      <div data-controller="hello" class="m-4 position-absolute">
        <button class="openbtn" data-action="click->hello#sideMenuToggle">☰</button>
      </div>

      <div id="navBar" class="sidebar d-flex flex-column flex-shrink-0"> 
         
        <%= link_to root_path, class: "btn btn-default" do %>
          <i class="bi bi-house-fill"></i><span class="p-1" id="homePage"></span> 
        <% end %>
        <%= link_to homeOS_path, class: "btn btn-default" do %>
          <i class="bi bi-house-gear-fill"></i><span class="p-1" id="homeOSPage"></span> 
        <% end %>
      </div>   
        
      <div class="container">
        <header class="">
          <h1>123</h1>
        </header>
        <%= yield %>
          
      </div>
      
    
    </main>
  </body>
</html>
