<!DOCTYPE html>
<html>
  <head>
    <title>FluptuHome</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css"/>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <main class="d-flex flex-nowrap">
      <%= render 'layouts/sidebar' %>
      <div class="container">
        <header class="d-flex">
          <div class="flex-grow-1">
            <h1>123</h1>
          </div>
          <div>
            <%= render 'shared/change_locale' %>
          </div>
        </header>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
